.wrapper {

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.text-1{
  display: inline-block;
  color:var(--text-black);
  font-weight: 700;
  text-transform: capitalize;
}