.slide-1{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 100%;
  width: 100vw;
  height: 100vh;
  z-index: 40;
  background-color: #7e7e7e;
}
.slide-2{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 100%;
  width: 100vw;
  height: 100vh;
  z-index: 39;
  background-color: #f5f5f5;
}
.slide-3{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 100%;
  width: 100vw;
  height: 100vh;
  z-index: 38;
  background-color: #1f1f1f;
}